#container {
    background-color: var(--secondary-background-color);
    padding: 10rem 0;
    position: relative;

    .backgroundImage {
        width: 60%;
        max-width: 41rem;
        
        position: absolute;
    }
    
    #bottomImage {
        bottom: 0;
        right: 0;
    }
    
    #topImage {
        top: 0;
        left: 0;
    }
    
    #wrapper {
        z-index: 10;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        #appName {
            color: var(--red);
            letter-spacing: 0.1em;
            line-height: 160%;
            margin-bottom: 1.8rem;
        }

        #title {
            font-size: 4.8rem;
            line-height: 125%;
            margin-bottom: 4rem;
            color: var(--title-color);
            max-width: 64rem;


            span {
                color: #6246EA;
                font-size: 4.8rem;
            }
        }

        #searchContainer {


            background-color: var(--background-color);
            padding: 4rem;
            border-radius: 1rem;
            border: 1px solid #EAEAEA;
            border-radius: 10px;
            margin: 0 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            
            gap: 2.4rem;

            .input {
                
                width: 100%;
                height: 4.8rem;
                background-color: var(--secondary-background-color);
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                padding: 1.4rem;
                color: var(--text-color);

                
                input {
                    background: none;
                    border: none;
                    width: 100%;
                    padding: 1.2rem;
                    outline: none;
                    font-size: 1.6rem;
                    color: var(--text-color);
                }

                img {
                    height: 2.4rem;
                    width: 2.4rem;
                }
            }

            .input:focus-within {
                outline: auto;
            }

            #submitButton {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                
                border: 0;
                color: var(--white);
                
                width: 70%;
                min-width: 10em;
                height: 4.8rem;


                                
                background: var(--purple);
                border-radius: 0.5rem;
                font-size: 1.4rem;

                font-weight: 700;
                transition: 300ms;
            }

            #submitButton:hover {
                transform: scale(1.1);
                box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
            }

            .loading {
                opacity: 0.5;
            }
            

            #locationSelect {
                select {
                    border: none;
                    background: none;
                    width: 100%;
                    outline: none;
                    color: var(--text-color);
                    padding: 1rem;
                }
            }
        }
    }
}    

@media (min-width: 768px) { 

    #container {
        .backgroundImage {
            width: 50%;
        }
        #wrapper {
            #searchContainer {
                flex-direction: row;
            }
        }
    }
}